.landingPageContainer {
  background: -webkit-gradient(linear, left top, right bottom, from(rgb(71, 70, 70)), to(rgb(3, 3, 3))) fixed;

  height: 100vh;

}

.homePageContainer {
  background: -webkit-gradient(linear, left top, right bottom, from(rgb(71, 70, 70)), to(rgb(3, 3, 3))) fixed;
  height: 100vh;
}

.mainproiflewrapper {
  background: -webkit-gradient(linear, left top, right bottom, from(rgb(175, 150, 92)), to(rgb(245, 224, 176))) fixed;
  /* background-color: rgba(253, 227, 167, 1);  */
}


/* .profilecontainer {
 
  background: -webkit-gradient(linear, left top, right bottom, from(rgb(131, 112, 214)), to(rgb(123, 182, 221))) fixed;
  height: 100vh;
} */

.mainresumewrapper {
  background: -webkit-gradient(linear, left top, right bottom, from(rgb(175, 150, 92)), to(rgb(245, 224, 176))) fixed;
  /* background-color: rgba(253, 227, 167, 1);  */
}

.homepagewrap {
margin: 0;
/* height: 100vh; */
/* background: -webkit-gradient(linear, left top, left bottom, from(rgb(88, 89, 184)), to(rgb(109, 126, 148))) fixed; */
/* background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(77, 19, 209, 1))) fixed; */
}

.embedwrapper {
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
}
.embed {
  background: transparent;
}

.eyes{
  margin-top: 120px;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.eye{
	width: 80px;
	height: 80px;
	background: #fff;
	display: inline-block;
  margin:10px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

/* .eyeball{
  width: 40px;
  height: 40px;
  background: #000;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 5px solid rgba(108, 122, 137, 1);
} */


/* LANDING PAGE STYLES */

/* START -- STYLES FOR BUTTON LANDING PAGE */
.landpagediv {
  padding: 1rem;
  color: white;
}

.landnow a {
  text-decoration: none;
  font-size: 1.2rem;
  background-color: blue;
  color: white;
}

.landnotnow a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1.2rem;
}
/* LOGO STYLES END */

.descwrap1 {
  justify-content: center;
  display: flex;
}

.descwrap2 {
width: 400px;
color: white;
font-size: 18px;
}

.loginsignupbtnhomewrap {
  justify-content: center;
  display: flex;
}

.loginsignupbtnhome {
border-style: solid;
border-width: 1px;
background-color: transparent;
font-size: 22px;
font-family: 'Lato', sans-serif;
color: white;
border-radius: 50px;
width:180px;
padding: 0;

}

.loginsignupbtnhome:hover {
  color: white;
  background-color: rgb(127, 127, 206);
  border-style: none;

  /* -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);  */
}

/* END -- STYLES FOR BUTTON LANDING PAGE */







/* .navbar {
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  color: rgb(197, 24, 24);
  transition: top 0.6s;
  background-color: rgb(99, 94, 94, 0);
  transition: background-color 0.6s;
}
.navbar a {
  color: rgb(151, 27, 27);
}

.navbar--hidden {
  top: -50x;
  background-color: rgb(99, 94, 94, 5);
  color: rgb(197, 24, 24);
} */

.oucont {
width: 50%;
}

.uocont {
  width: 50%;
}

.ououwrap {
  width: 100%;
}
.practicecontainer {
  background: gray;

}

.openuo {
  background: gray;
  height: 200px;
/*   
  -moz-transition: height 3s ease;
  -webkit-transition: height 3s ease;
  -o-transition: height 3s ease;
  transition: height 3s ease; */

  transform: scale(1, 1);
  transform-origin: top;
  transition: transform .2s ease-in;

  /* transition: height .1s ease-in; */
}
/* .sidedrawer.open {
transform: translateX(0);
} */
.closeuo {
  height: 0px;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform .1s ease-out;
  /* transition: height .5s ease-out; */
}

.text-center {
  margin: 0;
}
.openou {
  background: gray;
  height: 200px;
/*   
  -moz-transition: height 3s ease;
  -webkit-transition: height 3s ease;
  -o-transition: height 3s ease;
  transition: height 3s ease; */

  transform: scale(1, 1);
  transform-origin: top;
  transition: transform .2s ease-in;

  /* transition: height .1s ease-in; */
}
/* .sidedrawer.open {
transform: translateX(0);
} */
.closeou {
  height: 0px;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform .1s ease-out;
  /* transition: height .5s ease-out; */
}



.welcomebtn1 {
  color: black;
}

.ouanduowrap {
  justify-content: center;
  display: flex;
}

.ouanduowrap2 {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.oubtnwrap {
  justify-content: center;
  display: flex;
}

.ouwrap {
  width: 100%
}

.uobtnwrap {
justify-content: center;
display: flex;
}

.uowrap {
  width: 100%
}
/* LOGO STYLES START */
.logocont{
  margin-top:0px;
}

.logocont2{
  display: flex;
  justify-content: center;
}

.logoimghome {
  width: 190px;
  height: 190px;
  position: absolute;
  display: inline-block;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  /* border-radius: 50%; */
  background: transparent;
  z-index: 1;
}

.logoimghome3 {
  width: 190px;
  height: 190px;
  position: absolute;
  display: inline-block;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  /* border-radius: 50%; */
  z-index: 1;
  background: transparent;
}

/* .logocirclewrap1{
  width: 190px;
  height: 190px;
  background: transparent;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 30px;
  background: rgba(102, 51, 153, .2);
  
} */
.logocirclewrap2{
  width: 180px;
  height: 180px;
  background: rgb(204, 203, 203);
  display: inline-block;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  position: relative;
  margin: 0;
  border-radius: 20px;
  /* border-style: solid;
  border-width: 10px; */
  border-color: rgba(22, 20, 54, 0.5);
  margin-top: 30px;
  overflow: hidden;
  box-shadow:  1px 0px 7px rgb(12, 12, 12, 0.5);
  
}

.logocirclewrap3{
  width: 180px;
  height: 180px;
  background: transparent;
  display: inline-block;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  position: relative;
  margin: 0;
  border-radius: 20px;
  /* border-style: solid;
  border-width: 10px; */
  /* border-color: rgba(22, 20, 54, 0.5); */
  margin-top: 30px;
  overflow: hidden;
  /* box-shadow:  1px 0px 7px rgb(12, 12, 12, 0.5); */
  
}

/* -------------------------------------- */


/* USER PAGE */

.container {
  margin: 0;
  height: 100%;
}

.wineCol {
  width:40%;
  background-color: rgba(253, 227, 167, 1); 

}

.employeeCol {
  width:40%;
  margin: 0;
  background-color: rgba(253, 227, 167, 1); 

}
.uoColWrap {
justify-content: center;
display: flex;


}

.uoColWrap1 {
    background-color: rgb(228, 118, 118);
    /* background-color: rgb(124, 76, 103); */
    max-height: 50vh;
    overflow: auto;
    width: 80%;
    margin-top: 20px;
    border-radius: 10px;
    /* border-style: solid; */
    /* border-width: 10px; */
    border-color: rgb(73, 22, 22);  
    box-shadow: 5px 6px 6px rgb(49, 46, 46), 0 3px 3px rgb(59, 58, 58);
}

.ouColWrap {
  justify-content: center;
  display: flex;
  
  
  }
  
  .ouColWrap1 {
      background-color: rgb(136, 240, 136);
      /* background-color: rgb(124, 76, 103); */
      max-height: 50vh;
      overflow: auto;
      width: 80%;
      margin-top: 20px;
      border-radius: 10px;
      /* border-style: solid; */
      /* border-width: 10px; */
      border-color: rgb(73, 22, 22);  
      box-shadow: 5px 6px 6px rgb(49, 46, 46), 0 3px 3px rgb(59, 58, 58);
  }



.nav-link:link {
    text-decoration-style: none;
}
.active {
    text-decoration-style: none;
}

a:link {
    text-decoration: none;
    color: none;
  }

  button:focus {
    outline: none !important;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }

  .btnadminpage {
    color:rgb(3, 3, 3);
    /* background-color: rgb(173, 24, 61); */
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    font-size: 15px;
    border-color: rgb(7, 7, 7);
  }
.btnadminpagewrap {
  justify-content: center;
  display: flex;
  margin-top: 100px;
}

::-webkit-scrollbar { 
  display: none; 
}

  .navbar-brand:focus {
    outline: none !important;

  }

  .nav-link:focus {
    outline: none !important;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }

  .btn:focus {
    outline: none !important;
  }
  
/* button {

} */

  /* button:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 

    cursor: pointer;
  }

  button:active {

background-color: rgb(146, 106, 146);
  } */

  .cardwrapper1 {
 
    width: 80%;
    height: 80vh;
/* beige */
    background-color: rgba(253, 227, 167, 1); 
}

.cardwrapper1a {
  justify-content: center;
  display: flex;
  width: 100%;
  background-color: rgba(253, 227, 167, 1);
  /* background-color: black; */
  /* height: 100vh; */
}

.cardwrapper2 {
width: 80%;
height: 80vh;
border-radius: 20px;
overflow: auto;
}

.allwrap { 
  justify-content: center;
flex-direction: row;
display: flex;
height: 100vh;
}

.mainWrapper1 {
  width:40%;
  background-color: rgba(253, 227, 167, 1);
  /* background: -webkit-gradient(linear, left top, left bottom, from(rgb(5, 5, 5)), to(rgb(59, 58, 58))) fixed; */
  color:white;  
  margin: 0;
  /* box-shadow: 5px 3px 6px rgb(192, 187, 187), 0 3px 6px #999; */
  height: 100vh;
}
.cardwrapper0 {
  width:60%;
  height: 100%;

  background-color: rgba(253, 227, 167, 1);
  /* background-color: rgb(131, 11, 61); */
  
}
.winesheader {
  justify-content: center;
  display: flex;
  /* position:absolute; */
  width: 80%;
  background-color: rgba(253, 227, 167, 1);
  /* background-color: rgb(131, 11, 61, .8); */
  color: black;
  font-family: 'Lato', sans-serif;
}

span {
  font-family: 'Lato', sans-serif;
}

.addempbtnmain {
  background-color: rgb(100, 194, 123);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  border-style:none;
}

.submitFinal:focus {
  outline: none !important;
}

button:focus {
  outline: none !important;
}

.background {
  background-color: rgba(253, 227, 167, 1);
  height: 100%;
}

p {
  margin: 0;
}

.welcomebtn1:focus {
  outline: none !important;
}

button:focus {
  outline: none !important;
}


.welcomebtn1:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
  cursor: pointer;
}

  .submitFinal:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    cursor: pointer;
  }
  
  .submitFinal {
    color:white;
    background-color: rgb(160, 79, 99);
    border-style: none;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    font-size: 15px;
  }

/* ------------------------ */





/* 

@media (max-width: 768px) {
  
  .ouanduowrap2 {
display: flex;
      flex-direction: column;
  }
  
} */